.badge{
    background-color: tomato;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: white;
    animation: alram 3s infinite ease-in-out;
}
.badgechat{
    background-color: tomato;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: white;
}