.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top: 1px solid rgba(0,0,0,0.3);
}
.nav__ul{
    display: flex;
    justify-content: space-between;
}
.nav__li{
    
}
.nav__a{
    color: #2e363e;
    position: relative;
}
.nav__alram{
    background-color: tomato;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: absolute;
    left: 15px;
    bottom: 15px;
    color: white;
    animation: alram 3s infinite ease-in-out;
}
.nav__bubble{
    background-color: tomato;
    width: 6px;
    height: 6px;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 25px;
}

@keyframes alram{
    from{
        transform: rotateX(0);
    }
    to{
        transform: rotatey(365deg);
    }
}