.screen-header{
    display: flex;
    margin-top: 22px;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 10px;
}
.screen-header__title{
    font-size: 28px;
    font-weight: 600;
}
.screen-header__icon span{
    margin-left: 25px;
    position: relative;
}
.gear__bubble{
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    position: absolute;
    right: -3px;
    top: -3px;
}
.screen-header__icon .fa-gear:hover{
    animation: gear 0.5s ease-in-out ;
}
@keyframes gear{
    from{
        transform: rotateZ(-180deg);
    }
    to{
        transform:none ;
    }
}