.user-component{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.user-component,
.user-component__column:first-child{
    display: flex;
    align-items: center;
}
.user-component__column:nth-child(2){
    color: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.hero{
    width: 70px;
    height: 70px;
    border-radius: 25px;
    margin-right: 20px;
}
.hero-text{
    font-weight: 500;
    font-size: 18px;
}
.hero-subtitle{
    margin-top: 7px;
    font-size: 15px;
    color: rgba(0,0,0,0.5);
}
.hero-xl{
    width: 80px;
    height: 80px;
}
.friends-screen{
    padding: 0px 25px;
}
.hero-h2{
    width: 60px;
    height: 60px;
}

.user-component__channeltext p{
    font-weight: 400;
}
.user-component__time{
    display: flex;
    margin-bottom: 10px;
}

